
@import url('https://fonts.googleapis.com/css?family=Raleway:700,700i,900,900i|Roboto:100,100i,400,400i,700,700i,900,900i&subset=latin-ext');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
    box-sizing: border-box;
    background-color: #F2F2F2;
    color: rgb(93,93,93);
}

p{
    margin: 0;
}

h1,
h2,
h3,
h4,
.navbar-brand {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --nav-bg-color: #343a40;
    --nav-text-color: rgba(255, 255, 255, 0.75);
}

.symstrat-container {
    max-width: 1800px;
    margin: auto;
}
/* ================================ navbar ================================ */

/* ================================ /navbar ================================ */

/* ================================ Balance ================================ */

/* nav */

.vesztes {
    color: hsl(24, 100%, 54%);
}

.semleges {
    color: hsl(0, 0%, 73%);
}

.profitos {
    color: hsl(101, 99%, 40%);
}

.nav-profit {
    /* font-size: 1rem; */
    padding: 0.2rem 1rem;
    font-style: italic;
}

.dollar {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-left: 8px;
}

/* /nav */

/* charts */

.chart-wrapper {
    width: 78vw;
    height: 100%;
    margin: auto;
}

/* charts */

/* ================================ /Balance ================================ */

/* ================================ Mesterlista ================================ */

.masterlist-table {
    text-align: center;
    padding: 8px;
}

.strat-column-block,
.profact-col {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
}

.instrument-block {
    margin: 5px;
    border-collapse: collapse;
    display: flex;
    border: 2px solid rgb(93,93,93);
    font-weight: 700;
}

.instrument-block a{
    text-decoration: none;
    color:  rgb(93,93,93);
}

.symbol-column,
.symbol-head,
.avr-updt-column{
    flex: 17%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
}

.symbol-column{
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
}

.symbol-column:hover{
    font-size: 2rem;
}

.profit-column{
    border-left: 1px solid rgb(93,93,93);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    flex-basis: 200px;
    color: white;
}

.strategies-column {
    flex: 80%;
}

.elsosor {
	background-color: rgb(245, 245, 245);
}

.strat-column-block {
    display: flex;
    border: 1px solid rgb(93,93,93);
    margin:-1px 0;
}

.strat-column-block a:hover{
    background-color: rgb(93,93,93);
    color: rgb(255, 255, 255);
}

.name-col {
    flex: 340px;
    border: 1px solid rgb(93,93,93);
    margin:-1px;
}

.profact-col {
    flex-basis: 300px;
    border-right: 1px solid rgb(93,93,93);
    margin:-1px;
}

.profact-block {
    display: flex;
    flex-wrap: wrap;
}

.profact-head{
    min-width: 300px;
}

.profact-back-col {
    flex-basis: 150px;
    border-right: 1px solid rgb(93,93,93);
}

.profact-real-col {
    flex-basis: 150px;
}

.hozam-col {
    flex-basis: 150px;
    border-right: 1px solid rgb(93,93,93);
    color: white;
}

.talalati {
    flex-basis: 150px;
    border-right: 1px solid rgb(93,93,93);
}

.maxdd {
    flex-basis: 150px;
    border-right: 1px solid rgb(93,93,93);
}

.old-col {
    flex-basis: 150px;
    border-right: 1px solid rgb(93,93,93);
}

.darab-col {
    flex-basis: 150px;
    border-right: 1px solid rgb(93,93,93);
}

.db-upd-col {
    flex-basis: 150px;
    border-right: 1px solid rgb(93,93,93);
}

.update-col {
    flex-basis: 300px;
}

.header{
    border: none;
    font-size: 0.7rem;
    align-items: flex-end;
    color:  rgb(93,93,93);
    font-weight: 300;
    font-style: italic;
}
/* ================================ /Mesterlista ================================ */